html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 100%;
  color: #fff;
}

.container{
  width: 1024px;
  max-width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}

/* TODO - fix image styles 
.node image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 5px;
} */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
} 

.node text {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: table;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
